matplotlib>=3.10.3
networkx>=3.5
nltk>=3.8
numpy>=1.25.0
pandas>=2.1.0
scikit_learn>=1.3.0
rdkit>=2024.09.5
sdmetrics>=0.15.0
ctgan>=0.7.0
seaborn
dill
requests
gensim
joblib
wget
tqdm
transformers
datasets
copulas
rdt
xgboost
icd10-cm
transtab
promptehr
trial2vec
accelerate
